@font-face {
  font-family:'roach';
  src: url('RoachFont-Regular.ttf') format("truetype");
}

.App-header,footer,.contact{
  text-align: center;
}

.App-logo {
  transform: translate(-10px, 15px) scale(1.8);
  z-index: 10;
}

.shop-icon{
  position: relative;
}

.shop-icon div{
  width: 20px;
  height: 20px;
  background-color: #5F5F5F;
  position: absolute;
  top: 20px; 
  left: 15px;
  border-radius: 25%;
}

.shop-icon p{
  font-size: 0.8em;
  line-height: 110%;
  color: white;
}


.main {
  background-color: #deb887;
}

.carousel-item{
  height: 80vh;
  object-fit: cover;
}

.Shop{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.Shop .card{
  margin: 5px;
}

.Shop .card .card-img-top{
  height: 190px;
  object-fit: cover;
}

.Shop .card-title{
  display: flex;
  justify-content: space-between;
}

.Shop .card-title span{
  color: #9A0101;
}

.contact{
  background-color: #deb887;
  padding-top: 20px;
}

.contact-content{
  background-color: black;
  height: 90vh;
}

.contact-content p{
  color: white;
  font-family: 'roach';
  font-size: 10rem;
}